$red: red;
$blue: blue;

@mixin button() {
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: $blue;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 5rem 0;
    border-radius: 5rem;
    text-transform: capitalize;

    &:hover{
        background: $red;
        letter-spacing: .1rem;
    }
}

@mixin heading() {
    color: $blue;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 60%;
        background: $red;
    }
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	text-transform: capitalize;
	font-family: 'Exo 2',sans-serif;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}

#header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.5rem 2.5rem;
	color: #fff;
	.fa-bars {
		font-size: 3rem;
		z-index: 10000;
		cursor: pointer;
	}
	.logo {
		color: #fff;
		font-size: 2rem;
		i {
			padding: 0 .5rem;
		}
		h1 {
			display: inline;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.left {
		.fa-shopping-cart {
			font-size: 2rem;
			cursor: pointer;
		}
		.search-container {
			display: inline;
			position: relative;
			#search {
				position: absolute;
				top: -1.5rem;
				right: .8rem;
				height: 3.5rem;
				width: 3.5rem;
				font-size: 1.5rem;
				padding: 0 1rem;
				border: none;
				outline: none;
				border-radius: 5rem;
				&:hover {
					width: 25rem;
				}
				&:focus {
					width: 25rem;
				}
			}
			.fa-search {
				position: absolute;
				top: -.7rem;
				left: -3.5rem;
				font-size: 2rem;
				cursor: pointer;
				z-index: 1;
				color: #333;
				&:hover {
					~ {
						#search {
							width: 25rem;
						}
					}
				}
			}
		}
	}
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba(0, 0, 0, 0.9);
		padding: 0;
		display: none;
		ul {
			height: 100%;
			width: 35rem;
			background: #333;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-flow: column;
			flex-flow: column;
			list-style: none;
			li {
				margin: .5rem 0;
				a {
					display: block;
					height: 4rem;
					width: 25rem;
					background: #fff;
					color: #333;
					border-radius: 5rem;
					text-align: center;
					font-size: 2rem;
					line-height: 4rem;
					&:hover {
						text-decoration: none;
						background: #EB4D4B;
						letter-spacing: .3rem;
						color: #fff;
					}
				}
			}
		}
	}
}

#home {  
    background: #333;
    .slide {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        .image {
            img {
                width: 50vw;
            }
        }
        .content {
            h1 {
                font-size: 4rem;
                color: #fff;
            }
            p {
                font-size: 1.7rem;
                color: #ccc;
            }
            .stars {
                margin: 1rem;
				i {
					font-size: 1.5rem;
					padding-right: .4rem;
					color: gold;
				}
            }
            .price {
                color: #EB4D4B;
				font-size: 3.5rem;
				margin: .5rem 0;
            }
            button {
                @include button();
            }
        }
    }
    .owl-nav {
        .owl-next, .owl-prev {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            color: $red;
            font-size: 6rem;
            background: none;
            border: none;
            outline: none;
        }
        .owl-next{
            right: 1rem;
        }
        .owl-prev {
            left: 1rem;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 15%;left: 50%;
        transform: translateX(-50%);

        .owl-dot {
            border: none;
            outline: none;
        }
    }
}

// product part

#product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100vw;

    .heading {
        @include heading();
    }
    .product-container {
        width: 90%;

        .owl-nav {
            .owl-next, .owl-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $red;
                font-size: 6rem;
                background: none;
                border: none;
                outline: none;
            }
            .owl-next{
                right: 1rem;
            }
            .owl-prev {
                left: 1rem;
            }
        }

        .title {
            font-size: 3rem;
            color: $red;
            margin-top: 5rem;
            margin-left: 6rem;
        }
        .product-slider {
            .product-cart {
                height: 40rem;
                width: 30rem;
                margin: 2rem auto;
                box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.5);
                border-radius: .5rem;
                position: relative;

                .image {
                    height: 75%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    height: 25%;
                    width: 100%;
                    text-align: center;

                    h3 {
                        font-size: 3rem;
                        color: $blue;
                    }
                    .stars {
                        i {
                            color: gold;
                        }
                    }
                    .price {
                        font-size: 2rem;
                        color: $red;
                    }
                }
                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: #333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    transition-delay: .2s;
                    transform: scale(0);

                    h4 {
                        font-size: 4rem;
                        color: #fff;
                    }
                    p {
                        font-size: 1.2rem;
                        padding: 1rem 2rem;
                        color: #ccc;
                        text-align: center;
                    }
                    button {
                        @include button();
                        margin-top: 1rem;
                        background: $red;

                        &:hover {
                            background: $blue;
                        }
                    }
                    .share {
                        margin-top: 4.5rem;
                        a {
                            font-size: 2rem;
                            height: 4rem;
                            width: 4rem;
                            line-height: 4rem;
                            text-align: center;
                            background: #fff;
                            color: $red;
                            margin: 0 .5rem;
                            border-radius: 5rem;

                            &:hover {
                                text-decoration: none;
                                background: $red;
                                color: #fff;
                            }
                        }
                    }
                }

                &:hover .info {
                    transform: scale(1);
                }
            }
        }
    }
}

// review part
#review {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(./images/review.jpg), linear-gradient($blue, $blue) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    position: relative;

    .shape {
        position: absolute;
        top: 0;
        left: 0;
        height: 103%;
        width: 100%;
        background: url(./images/review.jpg) no-repeat;
        background-position: center;
        background-size: 100% 110%;
    }
    .owl-nav {
        .owl-next, .owl-prev {
            position: absolute;
            top: 0%;
            transform: translateY(-50%);
            color: $red;
            font-size: 6rem;
            background: none;
            border: none;
            outline: none;
        }
        .owl-next{
            right: 5rem;
        }
        .owl-prev {
            left: 5rem;
        }
    }

    .heading {
        @include heading();
        padding-top: 7rem;
        color: $red;

        &::after {
            background: #fff;
        }
    }
    .box-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .review-slider {

            .box{
                display: flex;
                align-items: center;
                justify-content: center;

                .image {
                    margin-top: 10rem;
                    margin-left: 3rem;

                    img {
                        height: 10rem;
                        width: 10rem;
                        border-radius: 50% 50% 50% 0%;
                        border: .5rem solid $red;
                    }
                }
                .comment {
                    height: 20rem;
                    width: 45rem;
                    background: #fff;
                    border-radius: 2% 2% 0% 40%;
                    padding-top: 2rem;

                    p {
                        color: #ccc;
                        font-size: 1.6rem;
                        padding: 2rem;

                        i {
                            color: $red;
                            font-size: 2rem;
                            padding: 0rem .5rem;
                        }
                    }
                    h3 {
                        text-align: end;
                        color: $red;
                        margin: -3.5rem 2rem;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

// offer parts

#offer {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .heading {
        @include heading();
    }

    .images {
        min-height: 20vh;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .box {
            height: 25rem;
            width: 30rem;
            text-align: center;
            margin: 2rem;

            img {
                height: 20rem;
                width: 30rem;
            }

            h3 {
                color: $red;
                font-size: 2.5rem;
                margin: 1rem 0;
            }
        }
    }

    .deal {
        background: url(./images/deal-bg.jpg) linear-gradient($red, $red) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-blend-mode: screen;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        width: 100%;

        .image {
            img {
                height: 50vh;
            }
        }
        .content {
            text-shadow: .1rem .1rem .3rem #333;

            h4 {
                font-size: 4rem;
                color: $blue;

            }

            p {
                font-size: 2rem;
                color: #fff;
            }
            .stars {
                i {
                    color: gold;
                    font-size: 1.5rem;
                }
            }
            .price {
                font-size: 4rem;
                color: #fff;
            }
            button {
                @include button();

                &:hover {
                    background: #333;
                }
            }
        }
    }
}

// brand part

#brand {
    .brand-slider {
        img {
            height: 10rem;
            width: 15rem;
            margin: 4rem auto;  
        }
    }
}

// newsletter

#newsletter {
    width: 100vw;
    background: linear-gradient(rgba(0,0,255,.4),rgba(0,0,255,.4)), url() no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 6rem 0;
    text-align: center;

    h1{
        font-size: 6rem;
        color: #fff;
    }
    p {
        font-size: 3rem;
        color: #f9f9f9;
    }

    input[type="text"] {
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        height: 4rem;
        width: 34rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        padding: 1.5rem;

        &::placeholder {
            color: #ccc;
        }
    }
    input[type="submit"] {
        @include button();
        margin-top: 2rem;
        background: $red;

        &:hover {
            background: #333;
        }
    }
}

#footer {
    padding: 2rem 0;
    background: #333;
    width: 100vw;

    .row {
        width: 100%;
        margin: 0;
    }

    .brand-info {
        margin: 1rem;
        padding: 0;

        a {
            
            color: #fff;
            &:hover {
                text-decoration: none;
            }

            i {
                padding: 0 .5rem;
                font-size: 2rem;
            }
            h3 {
                display: inline;
                font-size: 2rem;
            }
        }
        p {
            color: #ccc;
            padding: 2rem;
            margin: 0;
            font-size: 1.5rem;
        }
    }
    .links, .follow-us {
        padding: 0;
        margin: 1rem;

        h3 {
            font-size: 2rem;
            color: #fff;
        }

        .nav-links, .follow-us-links {
            display: flex;
            flex-flow: column;

            a {
                color: #ccc;
                font-size: 1.5rem;
            }
        }
    }

    .credit {
        color: #fff;
        font-size: 2rem;
        padding-top: 1.5rem;
        width: 100%;
        border-top: .1rem solid rgba(255,255,255,.5);

        span {
            color: $red;
        }
    }
}





.fa-times {
    transform: translateX(27rem);
    padding-top: 1rem;
}

// media queries

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    #home {
        padding-bottom: 4rem;

        .owl-dots {
            display: none;
        }

        .slide {
            flex-flow: column-reverse;

            .content {
                padding: 1rem;
            }
            .image {
                img {
                    width: 100vw;
                }
            }
        }
    }
    #product {
        .product-container {
            .title {
                margin-left: 0;
                text-align: center;
            }
        }
    }

    #offer {
        .deal{
            flex-flow: column;
            .image {
                img {
                    height: auto;
                    width: 100%;
                }
            }
            .content {
                text-align: center;
            }
        }
    }
}

@media(max-width:600px) {
    #review{
        .heading {
            padding-top: 10rem;
        }
        .box-container {
            .review-slider {
                .box{
                    position: relative;
                    height: 45vh;

                    .image {
                        position: absolute;
                        top: 0;
                        margin: 0;

                        img {
                            border-radius: 5rem;
                        }
                    }
                    .comment {
                        border-radius: 1rem;
                        text-align: center;
                        width: 35rem;
                        height: 27rem;

                        h3 {
                            text-align: center;
                            margin-top: -2rem;
                        }
                    }
                }
            }
        }
    }
    #newsletter {
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
        }
    }
}